.primo{
    height: 200px;
    background-color: aquamarine;
}

.secondo{
    height: 200px;
    background-color: rgb(91, 116, 226);
    position: static;
}

.terzo{
    height: 200px;
    background-color: rgb(230, 36, 36);
    position: relative;
    left: 40px;
    top: 80px;
}

.quarto{
    height: 200px;
    background-color: rgb(192, 245, 3);
}

.quinto{
    height: 200px;
    background-color: rgb(250, 186, 10);
    position: absolute;
    top: 20px;
    right: 40px;
}

.sesto{
    height: 200px;
    background-color: violet;
    position: relative;
}

.settimo{
    position: fixed;
    height: 200px;
    background-color: gray;
    top: 20px;
    left: 40px;
}

.ottavo{
    height: 100px;
    background-color: deeppink;
    position: absolute;
    left: 100px;
    top: 20px;
}